<form name="house-form" id="form" ng-submit="submit(house)" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="color">color</label>
        <input type="text" name="color" id="color" ng-model="house.color" value="">
    </div>
    <div class="form-group">
        <label for="car-brand">Car Brand</label>
        <input type="text" name="[examples_entity_car][brand]" id="car-brand" ng-model="house.examples_entity_car.brand">
    </div>
    <div class="form-group">
        <label for="name">name</label>
        <input type="text" name="name" id="name" ng-model="name">
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" name="email" id="email" ng-model="email">
    </div>

    <input type="submit" class="btn btn-primary">
</form>

<pre>
    {{house}}
</pre>
