.idea/
Would skip repository vendor/romenys/http/

composer.lock

/vendor/

web/vendor/
web/uploads/*
!web/uploads/.gitkeep

tmp/*
!tmp/.gitkeep

var/cache/*
!var/cache/.gitkeep

app/config/parameters/*
!app/config/parameters/__ENV__.json
