.idea/

composer.lock

/vendor/

web/vendor/
web/upload/*
!web/upload/.gitkeep

tmp/*
!tmp/.gitkeep

var/cache/*
!var/cache/.gitkeep

var/logs/*
!var/logs/.gitkeep

app/config/parameters/*
!app/config/parameters/__ENV__.json
