# IDE files
.project
.idea/

composer.lock

/vendor/

web/vendor/
web/upload/*
!web/upload/.gitkeep

tmp/*
!tmp/.gitkeep

var/cache/*
!var/cache/.gitkeep

var/logs/*
!var/logs/.gitkeep

app/config/parameters/*
!app/config/parameters/file_to_duplicate_and_rename_with_target_environment_name.json

app/config/config/*
!app/config/config/file_to_duplicate_and_rename_with_target_environment_name.json

.sass-cache/*

phpunit.xml

node_modules/
