<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
    	<th> Id </th>
    	<th> Nom</th>
    	<th> Email</th>
    	<th> </th>
    	<th> </th>
    </tr>
    <tr ng-repeat="client in clients">
    	<td>{{ client.id }}</td>
    	<td>{{ client.name }}</td>
    	<td>{{ client.email }}</td>
    	<td><a href="/#!/client/edit/{{client.uniqueId}}"><img src="/web/bundles/ClientBundle/images/edit.png" alt=""/></a></td>
    	<td><a href=""><img src="/web/bundles/ClientBundle/images/delete.png" alt=""/></a></td>
    </tr>
  </table>
</div>