
  <!-- Table -->
  <table class="table">
    <tr>
    	<th> Nom</th>
    	<th> Email</th>
    	<th> </th>
    	<th> </th>
    	<th> </th>
    </tr>
    <tr ng-repeat="user in users">
    	<td>{{ user.name }}</td>
    	<td>{{ user.tel }}</td>
<!--     	<td><a href="/#!/client/show/{{client.uniqueId}}"><img src="/web/bundles/ClientBundle/images/show.png" alt="Voir le Client"/></a></td>

    	<td><a href="/#!/client/edit/{{client.uniqueId}}"><img src="/web/bundles/ClientBundle/images/edit.png" alt="Modifer le client"/></a></td>
        <td><a href="" ng-click="delete(client)"><img src="/web/bundles/ClientBundle/images/delete.png" alt="Supprimer le client"/></a></td> -->

    </tr>
  </table>